# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment configuration
.env
.env.*

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache/
htmlcov/
coverage.xml

# Databases (in case of local dev db files)
*.db
*.sqlite3

# Operating System Files
.DS_Store
Thumbs.db
